/* Обнуление */
@import "null.css";


/* Эксперименты */

/* Все ссылки - синие */
.link{
	color: blue;
}

/* Статическая ссылка - бежевая, одна */
.link-static{
	color: bisque;
}


/* todo: Тег не поддался классу т.к уточнение что обращаемся только к ссылке */
/* Покрасится только ВОЙТИ */
a{
	color: green;
}

/* Покраситмя только ПРИВЕТИК, ВОЙТИ - нет, т.к. уточнение */
.menu-button{
	color: darkblue;
}


/* Покрасится h1, но инлайново в html  его перебили в - розовый */
#section {
	color: blueviolet;
}

/* Коробка - розовый */
.box{
	color: pink;
}

/* Этот главнее-т.к. ниже (составной класс)*/
/* Коробка Класса насекомые - коричневый */
.insect{
	color: brown;
}
/* Коробка Класса млекопитающие -  голубой*/
.mammal{
	color: lightblue;
}
/* Коробка Класса птицы - оранжевый */
.bird{
	color: orange;
}
/* Коробка Класса рептилии -  фиолетовый*/
.reptile{
	color: violet;
}
/* Коробка Класса лучеперая рыба - синий */
.ray-finned-fish{
	color: darkblue;
}
/* Коробка Класса паукообразные - серый */
.arachnid{
	color: grey;
}
/* Коробка Класса амфибия - золотой */
.amphibian{
	color: gold;
}


/* Перебивка только заголовков (Класс и обращение к заголовку первого уровня) */
/* Коробка Класса хищники - красный*/
.predator > h2{
	color: red;
}
/* Коробка Класса всеядные - малиновый (белка)*/
.omnivore > h2{
	 color: palevioletred;
}
/* Коробка Класса травоядные - зеленый*/
.herbivore > h2{
	color: green;
}


/* Заголовок коробки Класса хищники всегда- аквамариновый*/
/* Уточнение, помимо класса задан тег */

.predator .question-title{
	color: aquamarine;
}
/* Такая запись окрашивает весь контейнер div (заголовок ответа и ответ), (есть ответ, но не на тот вопрос)
И заголовок будет красный, т.к. до этого обратились через .predator > h2 - т.к. здесь есть уточнение к h2*/
/* Точно ли можно без пробела? работает и с пробелом и без */
div.predator{
	color: green;
}
/* Ничего не сработает, т.к. есть более уточненный запрос */
.predator{
	color: red;
}



/* Коробка содержащая одновременно два Класса млекопитающие и хищники - бежевый */
/* Уточнение, два класса одновременно, без пробелов, с пробелом только если например два тега */
/* Два класса круче */
/* Перекрасили заголовок ответ и сам ответ */
.mammal.predator{
	color: antiquewhite;
}


/* ПЕРЕБИЛ все остальное т.к. два класса и не важно что разные уровни вложенности */

/* ВЛОЖЕННОСТЬ (дошло) Сначала верхний класс потом обязателен пробел потом нижний класс, порядок классов играе роль, нельзя снача нижний а потом верхний!!!!!!! */
/* Заголовок вопроса хищники - зеленый. ПЕРЕзаписали вместоо аквамаринового*/
.predator .question-title{
	color: rgb(4, 252, 4);
}
/* Заголовок вопроса всеядные - серебристый (белка)*/
.omnivore .question-title{
	color: silver;
}
/* Заголовок вопроса травоядные - красный*/
.herbivore .question-title{
	color: red;
}


/* todo: */
/* ПОЧЕМУ ВЛОЖЕННОСТЬ КЛАСС КЛАСС ОДНОГО УРОВНЯ ПЕРЕБИЛАСЬ ВЛОЖЕННОТЬ КЛАСС КЛАСС РАЗНЫХ УРОВНЕЙ??? */
/* Это сильнее - .predator .question-title */
.mammal.predator{
	color: antiquewhite;
}


/* ID не перебьет, т.к запись цвета сделана в html */
[title="Главный заголовок"]{
	color: green;
}


/* todo: ПОЧЕМУ?, приоритетность класс класс на разных уровнях вложенности сильнее чем класс класс на одном уровне
т.к. это просто уточнение получается? */
/* Равнозначные, что ниже то и останется */
[class*="__title"]{
	color: black;
}
/* ПЕРЕБЬЕТ  ли предыдущую запись если так... */
/* Заголовок ответа хищники - бледно оранжевый*/
.answer-title__title{
	color: lightsalmon;
}

[class*="__title"]{
	color: black;
}



/* Перебивка только заголовков вопроса (Класс и обращение к заголовку первого уровня через div) */
/* Если только так .predator div{} , то заголовок ответа не перекрасится, т.к. выше записано через класс */
/* Коробка Класса хищники - красный*/
.predator div > h2{
	color: red;
}
/* Коробка Класса всеядные - малиновый (белка)*/
.omnivore div > h2{
	 color: palevioletred;
}
/* Коробка Класса травоядные - зеленый*/
.herbivore div > h2{
	color: green;
}


/* Уточнение классов на разных уровнях работает сильнее (белка) */
.omnivore .section2 .answer{
	color: black;
}



/* Перескакивание через рядность вложенностей невозможно! */
.omnivore .answer{
	color: red;
}


/* div большое имеет значение где он расположен, если поставить в начале - не работает */
/* Не сработает, т.к. тег уступает классу записанному выше .omnivore .section2 .answer */
.omnivore div .answer{
	color: royalblue;
}

/* А это работает, т.к. до этого нигде не было уточнения */
.predator div .answer{
	color: royalblue;
}


/* todo: Понимание рухнуло!!!В файле html перебьется, в нем сильнее действие */
p {
	color: yellow;
}